@CHARSET "UTF-8";

body {
	font-size: 10pt;
}

.numeric {
	text-align: right;
}

th {
	text-align: left;
}

.ingredient {
	padding-left: 4pt;
}

.sources {
	padding-left: 12pt;
}

table.tbl {
	page-break-after: always;
}

td.sources {
	font-size: 8pt;
}
